body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px;
    color: #000;
    background: #f2f2f2;
    overflow: hidden;
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

.search-index {
    display: flex;
    position: fixed;
    top: 0;
    /* 盒子居中常用做法 */
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    /* 固定的盒子有高度 */
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    /* background: pink; */
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.search {
    position: relative;
    height: 26px;
    line-height: 24px;
    border: 1px solid #ccc;
    flex: 1;
    font-size: 12px;
    color: #666;
    margin: 6px 10px;
    padding-left: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0,0, 0.2);
}

.search::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat 15px 7px;
    background-size: 21px auto;
}

.user {
    width: 44px;
    height: 44px;
    /* background: yellow; */
    font-size: 12px;
    text-align: center;
    color: #2eaaa0;
}

.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat 1px -36px;
    background-size: 21px auto;
    margin: 1px auto 0;
}